body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
  background-color: #171717;
}

.navbar .icon-logo {
  min-width: 100px;
}

.navbar .logo {
  width: 100px;
}

.nav-item {
  margin-right: 24px;
  font-weight: 400;
}

.nav-item.active a {
  width: 80px;
  color: #fff !important;
  background-color: #3252DF;
  border-radius: 2px;
}

.nav-item a {
  color: #fff !important;
  font-size: 14px;
}

.navbar .icon-menu {
  min-width: 100px;
}

.navbar .icon-fav {
  width: 20px;
  margin-left: 0px;
}

.navbar .icon-cart {
  width: 20px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .navbar-collapse
    {
      margin: 20px 0 0 0;
      padding: 0 0 10px 10px;
    }
}

.icon-bag-dropdown {
  margin: -25px 0 0 0;
  padding: 0;
}

.icon-bag-dropdown li ul li a p{
  color: #000;
  margin: 0 0 0 0;
}

@media (max-width: 767px) {
  .icon-bag-dropdown {
    margin: -25px 0 0 -40px;
    padding: 0;
  }
}
/* End of Navbar */

/* Carousel */
.carousel {
  min-height: 500px;
  background-color: #171717;
  color: #fff;
  font-family: 'Poppins', Helvetica, serif;
}

@media (max-width: 660px) {
  .carousel {
    min-height: 620px;
    background-color: #171717;
    color: #fff;
    font-family: 'Poppins', Helvetica, serif;
  }
}

.carousel-desc {
  margin: 70px 0 0 0;
  padding: 0 0 0 50px;
}

@media (max-width: 660px) {
  .carousel h1 {
    font-size: 20px;
  }
  .carousel-desc {
    margin: 70px 0 0 0;
    padding: 0 0 0 0;
  }
}

.carousel-img {
  margin: 50px 0 0 0;
}

.carousel h1 {
  font-size: 36px;
}

@media (max-width: 660px) {
  .carousel h1 {
    font-size: 30px;
  }
}


.carousel p {
  margin-top: 30px;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica, serif;
}

.carousel a {
  margin-top: 30px;
}
/* End of Carousel */

/* breadcrumb */
.breadcrumb li a {
  color: #3252DF;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* End of breadcrumb */

/* collection-section */
.collection-section {
  margin-top: -20px;
}

/* End of collection-section */

/* store-profile */
.store-profile h1 {
  color: #1B2690;
  font-family: 'Poppins', Helvetica, serif;
}

.store-profile .store-logo {
  width: 150px;
}

.store-contact a {
  margin: 0 0 0 10px;
}

.store-location img {
  margin: 0 0 0 -3px;
}

.store-location a {
  margin: 0 0 0 8px;
}

@media (max-width: 767px) {
  .store-profile .store-logo {
    width: 100px;
  }
}
/* End of store-profile */

/* Features */
.features h4 {
  font-family: 'Poppins', Helvetica, serif;
  color: #1B2690;
}

.features p {
  font-weight: 400;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #808080;
}

.figure h5 {
  color: #171717;
  font-size: 16px;
}
/* End of Features */

/* Product Description-1 */
.content-11,.content-12,.content-13, .content-14, .content-15, .content-16, .content-17,.content-18,.content-19, .content-110, .content-111, .content-112 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-button-11 h6, .desc-button-12 h6, .desc-button-13 h6, .desc-button-14 h6, .desc-button-15 h6, .desc-button-16 h6, .desc-button-17 h6, .desc-button-18 h6, .desc-button-18 h6, .desc-button-19 h6, .desc-button-110 h6, .desc-button-111 h6, .desc-button-112 h6 {
  font-size: 14px;
  margin: 1px 0 0 0;
}

#click-11, #click-12, #click-13, #click-14, #click-15, #click-16, #click-17, #click-18, #click-19, #click-110, #click-111, #click-112 {
  display: none;
}

.click-me-11, .click-me-12, .click-me-13, .click-me-14, .click-me-15, .click-me-16, .click-me-17, .click-me-18, .click-me-19, .click-me-110, .click-me-111, .click-me-112 {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #3252DF;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me-11:hover, .click-me-12:hover, .click-me-13:hover, .click-me-14:hover, .click-me-15:hover, .click-me-16:hover, .click-me-17:hover, .click-me-18:hover, .click-me-19:hover, .click-me-110:hover, .click-me-111:hover, .click-me-112:hover {
  background: #3252DF;
}

.content-11, .content-12, .content-13, .content-14, .content-15, .content-16, .content-17, .content-18, .content-19, .content-110, .content-111, .content-112 {
  opacity: 0;
  visibility: hidden;
  width: 425px;
  height: 550px;
  background: white;
  border-radius: 10px;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

#click-11:checked ~ .content-11, #click-12:checked ~ .content-12, #click-13:checked ~ .content-13, #click-14:checked ~ .content-14, #click-15:checked ~ .content-15, #click-16:checked ~ .content-16, #click-17:checked ~ .content-17, #click-18:checked ~ .content-18, #click-19:checked ~ .content-19, #click-110:checked ~ .content-110, #click-111:checked ~ .content-111, #click-112:checked ~ .content-112 {
  opacity: 1;
  visibility: visible;
}


.header {
  height: 68px;
  background: #3252DF;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.action-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.close-btn {
  margin: 0 20px 0 0;
  padding: 5px 10px 5px 10px;
  max-height: 38px;
  border: 1px solid #3252DF;
  border-radius: 3px;
  color: #3252DF;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #3252DF;
  color: white;
}
/* Product Description-1 */

/* Product Description-2 */
.content-21,.content-22,.content-23, .content-24, .content-25, .content-26, .content-27, .content-28, .content-29, .content-210 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-button-21 h6, .desc-button-22 h6, .desc-button-23 h6, .desc-button-24 h6, .desc-button-25 h6, .desc-button-26 h6, .desc-button-27 h6, .desc-button-28 h6, .desc-button-29 h6, .desc-button-210 h6 {
  font-size: 14px;
  margin: 1px 0 0 0;
}

#click-21, #click-22, #click-23, #click-24, #click-25, #click-26, #click-27, #click-28, #click-29, #click-210 {
  display: none;
}

.click-me-21, .click-me-22, .click-me-23, .click-me-24, .click-me-25, .click-me-26, .click-me-27, .click-me-28, .click-me-29, .click-me-210 {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #3252DF;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me-21:hover, .click-me-22:hover, .click-me-23:hover, .click-me-24:hover, .click-me-25:hover, .click-me-26:hover, .click-me-27:hover, .click-me-28:hover, .click-me-29:hover, .click-me-210:hover {
  background: #3252DF;
}

.content-21, .content-22, .content-23, .content-24, .content-25, .content-26, .content-27, .content-28, .content-29, .content-210 {
  opacity: 0;
  visibility: hidden;
  width: 425px;
  height: 550px;
  background: white;
  border-radius: 10px;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

#click-21:checked ~ .content-21, #click-22:checked ~ .content-22, #click-23:checked ~ .content-23, #click-24:checked ~ .content-24, #click-25:checked ~ .content-25, #click-26:checked ~ .content-26, #click-27:checked ~ .content-27, #click-28:checked ~ .content-28, #click-29:checked ~ .content-29, #click-210:checked ~ .content-210 {
  opacity: 1;
  visibility: visible;
}


.header {
  height: 68px;
  background: #3252DF;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.action-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.close-btn {
  margin: 0 20px 0 0;
  padding: 5px 10px 5px 10px;
  max-height: 38px;
  border: 1px solid #3252DF;
  border-radius: 3px;
  color: #3252DF;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #3252DF;
  color: white;
}
/* Product Description */

/* Product Description-4 */
.content, .content-42, .content-43, .content-44,.content-45, .content-46, .content-47, .content-48, .content-49,.content-410, .content-411, .content-412, .content-413, .content-414 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-button h6, .desc-button-42 h6, .desc-button-43 h6, .desc-button-44 h6, .desc-button-45 h6, .desc-button-46 h6, .desc-button-47 h6, .desc-button-410 h6, .desc-button-48 h6, .desc-button-49 h6, .desc-button-410 h6, .desc-button-411 h6, .desc-button-412 h6, .desc-button-413 h6, .desc-button-414 h6 {
  font-size: 14px;
  margin: 1px 0 0 0;
}

#click, #click-42, #click-43, #click-44, #click-45, #click-46, #click-47, #click-48, #click-49, #click-410, #click-411, #click-412, #click-413, #click-414 {
  display: none;
}

.click-me, .click-me-42, .click-me-43, .click-me-44, .click-me-45, .click-me-46, .click-me-47, .click-me-48, .click-me-49, .click-me-410, .click-me-411, .click-me-412, .click-me-413, .click-me-414 {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #3252DF;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me:hover, .click-me-42:hover, .click-me-43:hover, .click-me-44:hover, .click-me-45:hover, .click-me-46:hover, .click-me-47:hover, .click-me-48:hover, .click-me-49:hover, .click-me-410:hover, .click-me-411:hover, .click-me-412:hover, .click-me-413:hover, .click-me-414:hover {
  background: #3252DF;
}

.content, .content-42, .content-43, .content-44, .content-45, .content-46, .content-47, .content-48, .content-49, .content-410, .content-411, .content-412, .content-413, .content-414 {
  opacity: 0;
  visibility: hidden;
  width: 425px;
  height: 550px;
  background: white;
  border-radius: 10px;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

#click:checked ~ .content, #click-42:checked ~ .content-42, #click-43:checked ~ .content-43, #click-44:checked ~ .content-44, #click-45:checked ~ .content-45, #click-46:checked ~ .content-46, #click-47:checked ~ .content-47, #click-48:checked ~ .content-48, #click-49:checked ~ .content-49, #click-410:checked ~ .content-410, #click-411:checked ~ .content-411, #click-412:checked ~ .content-412, #click-413:checked ~ .content-413, #click-414:checked ~ .content-414 {
  opacity: 1;
  visibility: visible;
}


.header {
  height: 68px;
  background: #3252DF;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.action-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.close-btn {
  margin: 0 20px 0 0;
  padding: 5px 10px 5px 10px;
  max-height: 38px;
  border: 1px solid #3252DF;
  border-radius: 3px;
  color: #3252DF;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #3252DF;
  color: white;
}
/* Product Description */

/* Product Description-2 */
/* .content-42 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-button-42 h6 {
  font-size: 14px;
  margin: 1px 0 0 0;
}

#click-42 {
  display: none;
}

.click-me-42 {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #3252DF;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me-42:hover {
  background: #3252DF;
}

.content-42 {
  opacity: 0;
  visibility: hidden;
  width: 425px;
  height: 550px;
  background: white;
  border-radius: 10px;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

#click-42:checked ~ .content-42 {
  opacity: 1;
  visibility: visible;
}


.header {
  height: 68px;
  background: #3252DF;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.action-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.close-btn {
  margin: 0 20px 0 0;
  padding: 5px 10px 5px 10px;
  max-height: 38px;
  border: 1px solid #3252DF;
  border-radius: 3px;
  color: #3252DF;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #3252DF;
  color: white;
} */
/* Product Description */

/* Single Product */

.product-description .nav-item p {
  color: #F9B234;
  font-size: 16px;
}

.product-description .tab-content p {
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
}

.product-review a {
  font-size: 16px;
  color: #000;
}

.product-review h5 {
  font-size: 16px !important;
  color: #000;
}

.product-review p {
  margin-top: -10px;
  font-size: 14px !important;
  color: #000;
}
/* End of Single Product */

/* Similiar Product */
.similiar-product h4 {
  font-family: 'Poppins', Helvetica, serif;
  color: #1B2690;
}

.similiar-product p {
  font-weight: 200;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #b7b7b7;
}

.similiar-product h5 {
  color: #171717;
  font-size: 16px;
}
/* End of Similiar Product */

/* Shopping Cart */
.checkout-detail {
  background-color: #fff;
  border: 1px solid #000;
  color: #171717;
}

.checkout-button .btn {
  width: 160px;
}
/* End of Shopping Cart */

/* About Us */
.about-us h1 {
  margin: 0 0 40px 0;
  font-family: 'Poppins', Helvetica, serif;
  color: #7F7F7F;
}

.about-us p {
  padding: 0 20px 0 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #7F7F7F;
}
/* End of About Us */

/* Footer */
footer p {
  color: #000;
  font-size: 14px;
}

footer nav a {
  color: #000;
  font-size: 14px;
}

footer .footer-icon-menu img {
  margin-left: 20px;
  padding-bottom: 0;
}

.breadcrumb {
  margin-top: 100px;
}

.store {
  margin: 60px 0;
}
/* End of Footer */

/* Back to top icon */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
}

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

